<%
  function computeOldLineNumber(change) {
    if (change.isInsert) {
      return -1;
    }

    return change.isNormal ? change.oldLineNumber : change.lineNumber;
  }

  function computeNewLineNumber(change) {
    if (change.isDelete) {
      return -1;
    }

    return change.isNormal ? change.newLineNumber : change.lineNumber;
  }

  function groupElements(changes) {
    var elements = [];

    for (var i = 0; i < changes.length; i++) {
      var current = changes[i];

      if (current.isNormal) {
        elements.push([current, current]);
      } else if (current.isDelete) {
        var next = changes[i + 1];
        if (next && next.isInsert) {
          i = i + 1;
          elements.push([current, next]);
        } else {
          elements.push([current, null])
        }
      } else {
        elements.push([null, current]);
      }
    }
    return elements;
  }

  function lineTypeClassName(oldChange, newChange) {
    if (oldChange && !newChange) {
      return 'diff-line-old-only';
    }

    if (!oldChange && newChange) {
      return 'diff-line-new-only';
    }

    if (oldChange === newChange) {
      return 'diff-line-normal';
    }

    return 'diff-line-compare';
  }
%>

<tbody class="diff-hunk">
  <% groupElements(hunk.changes).forEach(function (element) { %>
    <tr class="diff-line <%= lineTypeClassName(element[0], element[1]) %>">
      <% if (element[0]) { %>
        <td key="gutter" class="diff-gutter diff-gutter-<%= element[0].type %>" data-line-number="<%= computeOldLineNumber(element[0]) === -1 ? undefined : computeOldLineNumber(element[0])%>"/>
        <td key="code" class="diff-code diff-code-<%= element[0].type %>"><%= element[0].content %></td>
      <% } else { %>
        <td key="gutter" class="diff-gutter diff-gutter-omit"></td>
        <td key="code" class="diff-code diff-code-omit"></td>
      <% } %>
      <% if (element[1]) { %>
        <td key="gutter" class="diff-gutter diff-gutter-<%= element[1].type %>" data-line-number="<%= computeNewLineNumber(element[1]) === -1 ? undefined : computeNewLineNumber(element[1])%>"/>
        <td key="code" class="diff-code diff-code-<%= element[1].type %>"><%= element[1].content %></td>
      <% } else { %>
        <td key="gutter" class="diff-gutter diff-gutter-omit"></td>
        <td key="code" class="diff-code diff-code-omit"></td>
      <% } %>
    </tr>
  <% }) %>
</tbody>