<%
  function computeOldLineNumber(change) {
    if (change.isInsert) {
      return -1;
    }

    return change.isNormal ? change.oldLineNumber : change.lineNumber;
  }

  function computeNewLineNumber(change) {
    if (change.isDelete) {
      return -1;
    }

    return change.isNormal ? change.newLineNumber : change.lineNumber;
  }
%>

<tbody class="diff-hunk">
  <% hunk.changes.forEach(function (change) { %>
    <tr class="diff-line">
      <td 
        class="diff-gutter diff-gutter-<%= change.type %>"
        data-line-number="<%= computeOldLineNumber(change) === -1 ? undefined : computeOldLineNumber(change)%>"
      >
      </td>
      <td 
        class="diff-gutter diff-gutter-<%= change.type %>"
        data-line-number="<%= computeNewLineNumber(change) === -1 ? undefined : computeNewLineNumber(change)%>"
      >
      </td>
      <td class="diff-code diff-code-<%= change.type %>"><%= change.content %></td>
    </tr>
  <% }) %>
</tbody>